# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/

# Visual Studio settings
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
*.exe
*.dll
*.pdb
*.cache
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Resharper / Rider
_ReSharper*/
*.DotSettings

# Rider
.idea/

# Others
*.tmp
*.bak
*.swp
